<div class="container-fluid my-5">
    <div class="container text-center py-3" style="border-top: 1px solid;">
        <p class="fs-5 mb-0">Copyright &copy; <a href="https://github.com/jelisavac-l" style="color: #E0115F;">Luka Jelisavac</a>, 2024.</p>
        <p>Ovaj projekat jeste pokušaj autora da na primeru nauči nove tehologije i MVC pristup razvoja aplikacija,
            te se ne treba smatrati kao odgovorno rešenje datog problema, jer usled nedovoljnog razumevanja materije postoji 
            šansa da određene funkcionalnosti nisu obrađene i da ovaj softver ima nepredviđene opasnosti. Svi podaci su izmišljeni.
        </p>
    </div>
</div>